@import url('https://fonts.cdnfonts.com/css/lexend-deca');

#primeiro-retangulo{
    width: 1140px;
    height: 842px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
#segundo-retangulo{
    width: 892px;
    height: 476px;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 4px 4px 41.1px 4px rgba(0, 0, 0, 0.25);
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 5em 2em;
}

.e-headertext {
    color:black;
}

.test {
    margin-bottom: 100px;
}

.h4-sel-carga{
    text-align: center;
    color: black;
}

.button {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #4834D4;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(104, 109, 224, 0.50);
    color: #4B38D5;
    text-align: center;
    font-family: Lexend Deca;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60px;
}
