header, .nav{ 
    display: none;
}

#navbar {
    display: none;
}

#mainLayout {
    height: 100%;
}

#form-right {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 90px;
}

#formulario-cadastro {
    width: 528px;
    display: flex;
}

#forms-cad {
    background-image: url("./component/Ellipse.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 50% 100%;
}